doctype html
html
  head
    meta(charset="UTF-8")
    meta(content="always" name="referrer")
    meta(name="renderer" content="webkit")
    meta(name="platform" content="desktop")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    title AUCFORM
  body
    app#app

